body {
	background:url("https://uns-iaw-2018-com16.github.io/TorneoFutbol/Imagenes/Fondos/EstiloOscuro/fondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
#titulo {
	font-weight: lighter;
    font-size: 50px;
	color: white;
	text-align: center;
}
