body {
	background:url("https://uns-iaw-2018-com16.github.io/TorneoFutbol/Imagenes/Fondos/EstiloOscuro/fondo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.header{
    padding: 10px;
}

#titulo {
    border: 2px solid #FFF;
    background: black;
    padding: 2px;
	font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 100px;
	color: white;
	text-align: center;
}

.header button.btn {
    position:relative;
    left: 80%;
	background-color: black;
    color: white;
    font-family: monospace;
    font-weight: bold;
} 

ul.nav {
	background-color: white;
    position:relative; 
}

.nav > li > a {
	color:black;
	font-size: 20px;
}

.nav > li > a:hover {
	background-color: black;
    color: white;
	border-color: black;
	border-radius: 4px 4px 4px 4px;
}

.nav-tabs > li.active > a {
	color:white;
    border: 2px solid rgb(255 0 0);
	background-color: black;
}
.nav-tabs > li.active > a:hover {
	color:white;
    border: 2px solid rgb(255 0 0);
	background-color: black;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: black;
    color: white;
	border-color: black;
	border-radius: 4px 4px 4px 4px;
}

h2 {
    background-color: black;
    text-align: center;
	color: white;
	font-size: 50px;
}

.panel {
    background: none;
}

.panel-info > .panel-heading {
	border: 2px solid black;
	border-radius: 4px 4px 0 0;
    background-color: black;
	text-align: center;
	color: white;
	font-size: 30px;
}

.panel-info > .panel-body {
    text-align: center;
    background-color: white;
    color: black;
}

.partidoFechaFixture{
    font-weight: bold;
    position: relative;
    text-align: center;
    font-size: 30px;
}
.dateFechaFixture, .timeFechaFixture, .canchaFechaFixture, .arbitroFechaFixture{
    font-size: 15px;
    margin: 10px;   
    display:inline-block;
}

.icono{
    width: 20px;
    margin:3px;
}
