body {
	background-color: skyblue;
}

#titulo {
	font-weight: bold;
	font-size: 100px;
	color: black;
	text-align: center;
}
input.form-control {
	height: 30px;
	width: 200px;
}

button.btn {
	background-color: black;
} 

a.btn {
	font-size: 20px;
	font-color: white;
}

ul.nav {
	background-color: teal;
}

a.nav {
	font-size: 25px;
	font-color: black;
}

.panel {
	background-color: skyblue;
}

.panel-info > .panel-heading {
	background-color: navy;
	text-align: center;
	font-color: white;
	font-size: 30px;
}

.panel-info > .panel-heading > .p {
	font-color: white;
}

.panel-info > .panel-body{
	background-color: snow;
	font-color: black;
	font-size: 20px;
}

.panel-info > .panel-body > .p {
	font-color: black;
}