body {
	background-color: skyblue;
}

#titulo {
	font-weight: bold;
	font-size: 100px;
	color: black;
	text-align: center;
}

button.btn {
	background-color: white;
	right: 10px;
} 

ul.nav {
	background-color: teal;
	border-bottom: 1px solid black;
	border-radius: 8px;
}

.nav > li > a {
	color:black;
	font-size: 20px;
}

.nav > li > a:hover {
	background-color: steelblue;
	border-color: black;
	border-radius: 4px 4px 0 0;
}

.nav-tabs > li.active > a {
	color:black;
	border-color: black;
	border-radius: 4px 4px 0 0;
	background-color: lightslategrey;
}

.panel {
	background-color: skyblue;
}

.panel-info > .panel-heading {
	background-color: navy;
	text-align: center;
	font-size: 30px;
}

.panel-info > .panel-heading > .p {
	font-color: white;
}

.panel-info > .panel-body{
	background-color: snow;
	font-color: black;
	font-size: 20px;
}

.panel-info > .panel-body > .p {
	font-color: black;
}